
    <div class="sub-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="subfooter-h1">Founded in San Antonio, Texas</h1>
                </div>
            </div>
        </div>
    </div>
    <footer >
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2 class="footer-h2">Pigeontec</h2>
                    <p class="footer-p">@2016 all rights reserved</p>
                </div>
                <div class="col-md-4">
                    <h4 class="footer-h4">Address</h4>
                    <p class="footer-p">24227 Bitter Crimson</p>
                    <p class="footer-p">San Antonio, TX 78261</p>
                    <br>
                    <tel>210-704-7443</tel>
                    <a href="#" class="footer-link">frank@pigeontec.com</a>
                </div>
                <div class="col-md-4">
                    <h4 class="footer-h4">Connect</h4>
                    <ul class="footer-social">
                        <li class="footer-social-li">facebook</li>
                        <li class="footer-social-li">linkedin</li>
                        <li class="footer-social-li">twitter</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>


    <!-- JavaScript -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="{{ site.data.global.url }}/js/power.js"></script>
</div></body>
</html>