
    <div class="sub-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="subfooter-h1">Founded in San Antonio, Texas</h1>
                </div>
            </div>
        </div>
    </div>
    <footer >
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2 class="footer-h2">Pigeontec</h2>
                    <p class="footer-p">@2016 all rights reserved</p>
                </div>
                <div class="col-md-4">
                    <h4 class="footer-h4">Address</h4>
                    <address class="footer-p">
                            24227 Bitter Crimson <br>
                            San Antonio, TX 78261<br>
                    </address>
                    <tel>210-704-7443</tel><br>
                    <a href="#" class="footer-link">frank@pigeontec.com</a>
                </div>
                <div class="col-md-4">
                    <h4 class="footer-h4">Connect</h4>
                        <a href="#">
                            <i class="fa fa-facebook-square" aria-hidden="true"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-twitter-square" aria-hidden="true"></i>
                        </a>
                </div>
            </div>
        </div>
    </footer>


    <!-- JavaScript -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="{{ site.data.global.url }}/js/power.js"></script>
</div></body>
</html>